body{
    background: linear-gradient(to right,red 0%,#f74747 30%,white 50%,#53ee53 70%,green 100%);
    text-align: center;
    
   
}
#content{
  font-family:'Times New Roman', Times, serif;
  height: auto;
  display: block;
}
#titre{
  display: flex;
  text-align: center;
  gap: 10px;
  font-size: 10px;
  text-shadow: 2px 10px 15px black;
  animation: deplacer 1.5s ease forwards;
  margin: 0 auto;
  justify-content: center; 
  align-items: center; 
  margin-bottom: 100px;
  margin-top: 40px;
}
img{
  border-radius: 20%;
  animation: deplacer 1.5s ease forwards;
  margin-bottom: 40px ;
  margin-top: 20px ;
}
#leg1{
  color: #ffffff;
}
#leg2{
  color: #ff0000;
}
button {
  padding: 10px 20px;
  color: #53ee53;
  font-size: 16px;
  cursor: pointer;
  background-color:rgb(0, 0, 0) ;
  border: none;
  border-radius: 5px;
  transition: background-color 1s;
  
}
a{
  animation: deplacer 2s ease forwards;
  position: relative;
  display: inline-block;
}
    
button:hover {
  background-color:white;
  color:rgb(21, 90, 0);
  box-shadow:0 0 20px black;
}
@keyframes deplacer{
    0% { 
      opacity: 0; 
      transform: translateY(100%); 
    }
  100% { 
    opacity: 1; 
    transform: translateY(0%); 
    }
}
@media(max-width:800px){
  #titre{
    font-size: 20px;
  }
}
